/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 16px;
  margin-bottom: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
  visibility: hidden;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #99999c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: -1px;
  bottom: -1px;
  background-color: white;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: khaki;
}

input:focus + .slider {
  box-shadow: 0 0 1px khaki;
}

input:checked + .slider:before {
  background-color: grey;
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

.filter-on {
  background-color: yellowgreen;
}

.filter-off {
  background-color: dodgerblue;
}
